body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  padding: 30px;
  color: #fcfcfcbd;
  background: linear-gradient(to bottom, #030011, #04071d);

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

.app {
  max-width: 600px;
  margin: 0 auto 300px;
  padding: 20px 30px;
  border: 2px solid  #fcfcfcbd; 
  border-image-slice: 1; 
  padding: 20px;
  border-radius: 10px;
  
}

h1{
  text-align: center;
}
h2{
  margin-bottom: 10px;
}
p {
  margin: 10px 0;
}

input {
  box-sizing: border-box;
}

button {
  background-color: transparent; 
  color: #fcfcfcbd; 
  border: 2px solid #fcfcfcbd; 
  border-radius: 5px; 
  padding: 10px 20px;
  font-size: 16px; 
  cursor: pointer; 
  transition: transform 0.3s ease, color 0.3s ease; 
}
.buttons {
  display: flex; 
}

.buttons button {
  margin-right: 10px; 
}


button:hover {
  color: rgb(85, 163, 85); 
  background-color:  #302b63;
  transform: scale(1.05);
  
}

.todo-list {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #fcfcfcbd ;
}

.todo {
  background-color: #03071f;
  box-shadow: 0 0 20px rgba(36, 19, 19, 0.1);
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove {
  color: rgb(180, 65, 23);
}
.remove:hover{
  color: #fcfcfcbd;
}

input, select {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #DDD;
  border-radius: 3px;
  width: 100%;
}
.ascd {
  color: rgb(85, 163, 85) ;

}
.ascd:hover{
  color:white ;

}


.order-buttons button{
  margin-right: 10px;
}


.filter, .search {
  border-bottom: 1px solid #fcfcfcbd ;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.filter-options {
  display: flex;
  justify-content: space-between;
  gap: 12rem;
}

.filter-options div{
  flex: 1 1 0;
}